body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #7c7c7c;
}
/*Heading*/
#logo {
    position: relative;
}
#menu li{
    margin-left: 25px;
    padding: 0;
}

#menu li a {
    font-family: 'Changa One', cursive;
    color: #333333;
}

#menu li a:hover, #menu li.active a{
    color: #2fa0d5;
    background: none;
}

#form-search {
    display: block;
    width: 169px;
    height: 32px;
    border: 1px solid #d5d5d5;
    padding: 4px 11px 6px;
    box-sizing: border-box;
    border-radius: 14px;
    margin: 0 10px;
    position: relative;
}

#searchword {
    border: none;
    background: white;
    box-shadow: 0 0 0;
    padding: 0;
}
#btn-search {
    border: none;
    width: 10px;
    background: url(../images/search_button.png) 0 0 no-repeat;
}

#social a {
    display: inline-block;
    margin-left: 5px;
    font-size: 0;
    height: 25px;
    width: 27px;
    cursor: pointer;
}

#social a.twitter {
    background: url(../images/twitter.png) 0 0 no-repeat;
}
#social a.twitter:hover {
    background: url(../images/twitter_active.png) 0 0 no-repeat;
}

#social a.facebook {
    background: url(../images/facebook.png) 0 0 no-repeat;
}
#social a.facebook:hover {
    background: url(../images/facebook_active.png) 0 0 no-repeat;
}

/*Banner*/
#banner {
    background: url(../images/bg_slider.gif) center bottom repeat;
    color: white;
    padding: 110px 0 40px;
}

#banner h4 {
    font-size: 60px;
    line-height: 60px;
    font-family: 'Changa One', cursive;
    font-weight: 900;
    letter-spacing: 1px;
}

#btn-menu {
    display: inline-block;
    font: 30px 'Changa One', cursive;
    line-height: 36px;
    background-color: #fa97c2;
    padding: 14px 62px;
    border-radius: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 30px 0;
    color: white;
}

#dots {
    list-style: none;
    padding: 0;
    text-align: center;
    height:  19px;
    line-height: 19px;
}
#dots li {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 19px;
    text-align: center;
    text-indent: 9999px;
    background: white;
    margin: 0 2px;
    position: relative;
}
#dots li span {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    position: absolute;
    top: 5px;
    left: 5px;
    }
#dots li.active span {
    background: #73ce26;
}
#dots li span:hover {
    background: #73ce26;
}



#main h4 {
    font-family: 'Changa One', cursive;
    color: #333333;
    font-weight: 400;
    font-size: 26px;
    margin: 10px 0;
}
a.readmore {
    text-decoration: underline;
    color: #2fa0d5;
}
#main .row div {
    text-align: center;
}


/*About*/

.about {
    background: #fa97c2;
    color: #814e64;
    padding: 40px 0 60px 0;
}

.demuc {
    font-family: 'Changa One', cursive;
    color: #333333;
    font-weight: 400;
    font-size: 60px;
    margin: 10px 0;
}
.about div img {
    float: left;
    margin: 20px;
}

#frm-signup {
    border: 3px dashed #814e64;
    overflow: hidden;
    padding: 20px 10px;
    border-radius: 10px;

}
#frm-signup h3 {
    font-size: 30px;
    color: white;
    line-height: 28px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}
#frm-signup input {
    border: none;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin: 10px 0;
}
#frm-signup button {
    font-family: 'Changa One', cursive;
    font-size: 24px;
    padding: 12px 30px;
    color: white;
    background-color: #444444;
    border-radius: 15px;
    border: none;
    float: right;
}
/*News*/
#news .ngay{
    font-family: 'Changa One', cursive;
    font-size: 30px;
    color: white;
    background-color: #73c926;
    padding: 12px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;

}
.changa {
    font-family: 'Changa One', cursive;
    color: black;
}

/*News*/
footer {
    background: url(../images/bg.gif) 0 center repeat;
    text-align: center;
    padding: 30px 0;
}
footer li {
    display: inline-block;
    padding: 0 90px 15px 0;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #fa97c2;
    text-decoration: none;
}
footer div {
    text-transform: uppercase;
    color: #B7bbbb;
}
footer div a {
    color: #B7bbbb;
}


/*About page*/
#line-banner {
    background: url(../images/bg_slider.gif) center top repeat;
    content:"";
    padding: 3px;
}

#ab-about .demuc {
    padding: 30px 0;
}

#ab-about img {
    float:left;
    border-radius: 15px;
    margin-right: 20px;
}
#ab-about-right div {
    padding-bottom: 30px;
}
#ab-about-right a:hover {
    text-decoration: none;
}
#ab-testi {
    background-color: #fa97c2;
}
#ab-testi .col {
    background: url(../images/quot.png) top left no-repeat;
    padding-left: 50px;
}
#ab-testi .row {
    margin-left: 0px;
}

#ab-team img {
    border-radius: 10px;
}

/*Menu page*/
#mn-sp img {
    float: left;
    border-radius: 15px;
    margin: 0 20px 20px 0;
    width: 40%;
}
#mn .col {
    padding-bottom: 15px;
}
.noClick {
    pointer-events: none;
 }